extends topmenu/alsus_menu.pug
block content-header
    .panel-header.panel-header-sm 
block content
      .row
        .col-md-12
            .card
                .card-header
                    if notification
                        .alert.alert-danger
                            button.close(type='button' aria-hidden='true')
                                i.now-ui-icons.ui-1_simple-remove
                            span
                                b  #{notification}
                    h4.card-title  Data Alsus Intelijen
                    a.btn.btn-info.btn-round.card-title(href='/alsus/add' role='button')
                        i.now-ui-icons.ui-1_simple-add
                        |  Tambah      
                    // Example single danger button
                    //.btn-group
                        button.btn.btn-info.btn-round.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            |    Pilih Filter Satwil
                        .dropdown-menu
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
                            .dropdown-divider
                            a.dropdown-item(href='#') Separated link

                .card-body
                    .table-responsive
                        table.table
                            thead.text-primary
                                th
                                    | No
                                th
                                    | Tahun
                                th
                                    | Jumlah Alsus
                                th
                                    | Action
                                 
                            tbody
                                each val, index in data
                                    tr
                                        td= index+1 
                                        td= val["tahun_penggunaan_alsus"]
                                        td= val["jumlah_penggunaan_alsus"] 
                                        td
                                            a.btn.btn-primary.btn-round(href='/alsus/file/'+ val["id_penggunaan_alsus"] role='button')
                                                i.now-ui-icons.files_paper
                                                |  Lihat File
                                            | 
                                            a.btn.btn-danger.btn-round(href='/alsus/delete/'+ val["id_penggunaan_alsus"] role='button')
                                                i.now-ui-icons.ui-1_simple-remove
                                                |  Delete