extends layout-sidemenu.pug
block content      
      .row
        .col-md-8
          .card
            .card-header
              h5.title Potensi Gangguan
            .card-body
              form
                .row
                  .col-md-5.pr-1
                    .form-group
                      label Tahun
                      input.form-control(type='text' disabled='' placeholder='Tahun' value='2020')
                   

                .row
                  .col-md-6.pr-1
                    .form-group
                      label Jumlah
                      input.form-control(type='text' placeholder='Jumlah Potensi' value='0')
                   
                .row
                  .col-md-12
                    .form-group
                      label Upload Dokumen
                      input.form-control(type='file' placeholder='Dokumen' value='Potensi.doc')          
      .row
        .col-md-8
          .card
            .card-header
              h5.title Kejadian Menonjol
            .card-body
              form
                .row
                  .col-md-5.pr-1
                    .form-group
                      label Subdit
                      select.form-control()
                        option(value='') Politik
                        option(value='') Ekonomi
                        option(value='') SOSBUD
                        option(value='') KAMNEG
                        option(value='') KAMSUS

                .row
                  .col-md-5.pr-1
                    .form-group
                      label Tahun
                      input.form-control(type='text' disabled='' placeholder='Tahun' value='2020')

                .row
                  .col-md-6.pr-1
                    .form-group
                      label Januari
                      input.form-control(type='text' placeholder='Jumlah' value='')
                      
                  .col-md-6.pl-1
                    .form-group
                      label Uraian
                      textarea.form-control(rows='4' cols='80' placeholder='Uraikan Kejadian Menonjol' value='Uraian') 
                .row
                  .col-md-6.pr-1
                    .form-group
                      label Febuari
                      input.form-control(type='text' placeholder='Januari' value='0')
                      
                  .col-md-6.pl-1
                    .form-group
                      label Uraian
                      textarea.form-control(rows='4' cols='80' placeholder='Uraikan Kejadian Menonjol' value='Uraian')
                      .row
                  .col-md-6.pr-1
                    .form-group
                      label Maret
                      input.form-control(type='text' placeholder='Januari' value='0')
                      
                  .col-md-6.pl-1
                    .form-group
                      label Uraian
                      textarea.form-control(rows='4' cols='80' placeholder='Uraikan Kejadian Menonjol' value='Uraian')
                      .row
                  .col-md-6.pr-1
                    .form-group
                      label April
                      input.form-control(type='text' placeholder='Januari' value='0')
                      
                  .col-md-6.pl-1
                    .form-group
                      label Uraian
                      textarea.form-control(rows='4' cols='80' placeholder='Uraikan Kejadian Menonjol' value='Uraian')
                      .row
                  .col-md-6.pr-1
                    .form-group
                      label Mei
                      input.form-control(type='text' placeholder='Januari' value='0')
                      
                  .col-md-6.pl-1
                    .form-group
                      label Uraian
                      textarea.form-control(rows='4' cols='80' placeholder='Uraikan Kejadian Menonjol' value='Uraian')
                      .row
                  .col-md-6.pr-1
                    .form-group
                      label Juni
                      input.form-control(type='text' placeholder='Januari' value='0')
                      
                  .col-md-6.pl-1
                    .form-group
                      label Uraian
                      textarea.form-control(rows='4' cols='80' placeholder='Uraikan Kejadian Menonjol' value='Uraian')
                      .row
                  .col-md-6.pr-1
                    .form-group
                      label Juli
                      input.form-control(type='text' placeholder='Januari' value='0')
                      
                  .col-md-6.pl-1
                    .form-group
                      label Uraian
                      textarea.form-control(rows='4' cols='80' placeholder='Uraikan Kejadian Menonjol' value='Uraian')
                      .row
                  .col-md-6.pr-1
                    .form-group
                      label Agustus
                      input.form-control(type='text' placeholder='Januari' value='0')
                      
                  .col-md-6.pl-1
                    .form-group
                      label Uraian
                      textarea.form-control(rows='4' cols='80' placeholder='Uraikan Kejadian Menonjol' value='Uraian')
                      .row
                  .col-md-6.pr-1
                    .form-group
                      label September
                      input.form-control(type='text' placeholder='Januari' value='0')
                      
                  .col-md-6.pl-1
                    .form-group
                      label Uraian
                      textarea.form-control(rows='4' cols='80' placeholder='Uraikan Kejadian Menonjol' value='Uraian')
                      .row
                  .col-md-6.pr-1
                    .form-group
                      label Oktober
                      input.form-control(type='text' placeholder='Januari' value='0')
                      
                  .col-md-6.pl-1
                    .form-group
                      label Uraian
                      textarea.form-control(rows='4' cols='80' placeholder='Uraikan Kejadian Menonjol' value='Uraian')
                      .row
                  .col-md-6.pr-1
                    .form-group
                      label November
                      input.form-control(type='text' placeholder='Januari' value='0')
                      
                  .col-md-6.pl-1
                    .form-group
                      label Uraian
                      textarea.form-control(rows='4' cols='80' placeholder='Uraikan Kejadian Menonjol' value='Uraian')
                      .row
                  .col-md-6.pr-1
                    .form-group
                      label Desember
                      input.form-control(type='text' placeholder='Januari' value='0')
                      
                  .col-md-6.pl-1
                    .form-group
                      label Uraian
                      textarea.form-control(rows='4' cols='80' placeholder='Uraikan Kejadian Menonjol' value='Uraian')
                .row
                  .col-md-12
                    .form-group
                      label Jumlah
                      input.form-control(type='text' placeholder='Jumlah Total' value='0')
                .row
                  .col-md-12
                    .form-group
                      input.form-control(type='submit' placeholder='' value='Kirim Data')