extends topmenu/masterdata.pug
block content
    .row
      .col-md-8
        .card
          .card-header
            h5.title Kegiatan Intelijen
          .card-body
            form(action='/jenis_kegiatan_intelijen/'+ edit method='POST')
              .row
                .col-md-5.pr-1
                  .form-group
                    label Nama Kegiatan
                    if edit!=""
                        input.form-control(type='text' name="nama_jenis_kegiatan_intelijen" placeholder='Masukkan Nama Kegiatan' value=''+data["nama_jenis"])
                    else
                        input.form-control(type='text' name="nama_jenis_kegiatan_intelijen" placeholder='Masukkan Nama Satuan' value='')
              .row 
                .col-md-6.pr-1
                  .form-group
                    input.btn.btn-info.btn-round(type='submit' placeholder='' value='Submit')
                     
                  