extends topmenu/potensigangguanhome.pug
block content-header
    .panel-header.panel-header-sm
block content
    .row
      .col-md-8
        .card
          .card-header
            h5.title Kejadian Menonjol (IKU1)
            include notification.pug
          .card-body
            form(action='/kejadianmenonjol' method='POST')
              .row
                .col-md-6.pr-1
                  .form-group 
                    .btn-group.dropright
                        button.btn.btn-secondary.btn-round.dropdown-toggle(type='button' name="subdit" data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            |    Pilih Subdit
                        .dropdown-menu
                            each val, index in subdit
                                a.dropdown-item(href='#' 
                                    onCLick="$(\"button[name ='subdit']\").text($(this).text());$(\"input[name ='id_subdit']\").val("+val["id_subdit"]+");")
                                    = val["nama_subdit"]
                        input.form-control(type="hidden" id="id_subdit" name="id_subdit" value=''+ (data['id_subdit']=== undefined ?'': data['id_subdit']))
              .row
                .col-md-6.pr-1 
                  .form-group 
                    .btn-group.dropright
                      include monthdropdown.pug
                                 
              .row
                .col-md-6.pr-1
                  .form-group
                    label Tahun
                    input.form-control(type='text' name="tahun_kejadian_menonjol" placeholder='Masukkan Tahun' value=''+ (data['tahun_kejadian_menonjol']=== undefined ?'': data['tahun_kejadian_menonjol']))         
              .row
                .col-md-6.pr-1
                  .form-group
                    label Jumlah
                    input.form-control(type='text' name="jumlah_kejadian_menonjol" placeholder='Masukkan Jumlah' value=''+ (data['jumlah_kejadian_menonjol']=== undefined ?'': data['jumlah_kejadian_menonjol']))
              .row
                .col-md-6.pr-1
                  .form-group
                    label Uraian
                    input.form-control(type='text' name="uraian_kejadian_menonjol" placeholder='Masukkan Uraian' value=''+ (data['uraian_kejadian_menonjol']=== undefined ?'': data['uraian_kejadian_menonjol']))
               
              .row
                .col-md-6.pr-1
                  .form-group
                    input.btn.btn-info.btn-round(type='submit' placeholder='' value='Submit')    