extends layout.pug
block sidebar
    .sidebar(data-color='orange')
        //Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
        .logo
            a.simple-text.logo-mini(href='http://www.creative-tim.com')
                | BI
            a.simple-text.logo-normal(href='http://www.creative-tim.com')
                | IKU MANUAL
        #sidebar-wrapper.sidebar-wrapper
            ul.nav 
                if session.user.role == 1
                    li
                        a(href='/satwils')
                            i.now-ui-icons.business_globe
                            p Master Data
                 
                li
                    a(href='/indexkepuasan')
                        i.now-ui-icons.business_briefcase-24
                        p Index Kepuasan
                li
                    a(href='/potensigangguan')
                        i.now-ui-icons.business_briefcase-24
                        p Potensi Gangguan
                li
                    a(href='/dataprodukintel')
                        i.now-ui-icons.business_briefcase-24
                        p Data Produk Intelijen
                li
                    a(href='/kegiatanintel')
                        i.now-ui-icons.business_briefcase-24
                        p Kegiatan Intelijen
                li
                    a(href='/alsus')
                        i.now-ui-icons.business_briefcase-24
                        p Alsus Intelijen