extends layout.pug
block sidebar
    .sidebar(data-color='orange')
        //Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
        .logo
            a.simple-text.logo-mini(href='http://www.creative-tim.com')
                | BI
            a.simple-text.logo-normal(href='http://www.creative-tim.com')
                | IKU MANUAL
        #sidebar-wrapper.sidebar-wrapper
            ul.nav
                li
                    a(href='./')
                        i.now-ui-icons.design_app
                        p Dashboard
                
                li
                    a(href='./ik1')
                        i.now-ui-icons.design_bullet-list-67
                        p IK1
                li
                    a(href='./ik2')
                        i.now-ui-icons.design_bullet-list-67
                        p IK2
                li
                    a(href='./ik3')
                        i.now-ui-icons.design_bullet-list-67
                        p IK3 - Produk Intelijen
                li
                    a(href='./ik32')
                        i.now-ui-icons.design_bullet-list-67
                        p IK3 - Surat Kepada K/L
                li
                    a(href='./ik33')
                        i.now-ui-icons.design_bullet-list-67
                        p IK3 - Sarpen Kepada K/L
                li
                    a(href='./ik34')
                        i.now-ui-icons.design_bullet-list-67
                        p IK3 - Bahan Pimpinan
                li
                    a(href='./ik35')
                        i.now-ui-icons.design_bullet-list-67
                        p IK3 - Bahan Rapat Pimpinan
                li
                    a(href='./ik36')
                        i.now-ui-icons.design_bullet-list-67
                        p IK3 - Pengiriman Prod. Intelijen

                li
                    a(href='./ik42')
                        i.now-ui-icons.design_bullet-list-67
                        p IK4 - Surat / Nodin
                li
                    a(href='./ik4')
                        i.now-ui-icons.design_bullet-list-67
                        p IK4 - Bahan Pimpinan
                li
                    a(href='./ik41')
                        i.now-ui-icons.design_bullet-list-67
                        p IK4 - Bahan Rapat Pimpinan
                li
                    a(href='./ik5')
                        i.now-ui-icons.design_bullet-list-67
                        p IK5
                li
                    a(href='./ik6')
                        i.now-ui-icons.design_bullet-list-67
                        p IK6
                li
                    a(href='./ik11')
                        i.now-ui-icons.design_bullet-list-67
                        p IK11