doctype html
head
  meta(charset='utf-8')
  link(rel='apple-touch-icon' sizes='76x76' href='../assets/img/apple-icon.png')
  link(rel='icon' type='image/png' href='../assets/img/favicon.png')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  title
    | E-Kinerja BAINTELKAM POLRI
  meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')
  // Fonts and icons
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
  // CSS Files
  link(href='../assets/css/bootstrap.min.css' rel='stylesheet')
  link(href='../assets/css/now-ui-dashboard.css?v=1.3.0' rel='stylesheet')
  link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css' rel='stylesheet')
  link(href='https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css' rel='stylesheet')
  // CSS Just for demo purpose, don't include it in your project
  link(href='../assets/demo/demo.css' rel='stylesheet')
  script(src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous")
  script.
    $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    //demo.initDashboardPageCharts();
      //button export setting for datatables
      function $(document).serverSideButtonAction(e, dt, node, config) {
        var me = this;
        var button = config.text.toLowerCase();
        if (typeof $.fn.dataTable.ext.buttons[button] === "function") {
          button = $.fn.dataTable.ext.buttons[button]();
        }
        var len = dt.page.len();
        var start = dt.page();
        dt.page(0);
        dt.context[0].aoDrawCallback.push({
                "sName": "ssb",
                "fn": function () {
                    $.fn.dataTable.ext.buttons[button].action.call(me, e, dt, node, config);
                    dt.context[0].aoDrawCallback = dt.context[0].aoDrawCallback.filter(function (e) { return e.sName !== "ssb" });
                }
            });
            dt.page.len(999999999).draw();
            setTimeout(function () {
                dt.page(start);
                dt.page.len(len).draw();
            }, 500);
        }
    });
    
.wrapper
  block sidebar
     
  #main-panel.main-panel
    block navbar
       
      // End Navbar
    block content-header 
    .content
      block content
    block footer
      footer.footer
        .container-fluid
          nav
            ul
              li
                a(href='https://www.polri.go.id')
                  | 2019 BAINTELKAM POLRI
               
          //#copyright.copyright
            | &copy;
            script.
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            | , Designed by
            a(href='https://www.invisionapp.com' target='_blank') Invision
            | . Coded by
            a(href='https://www.creative-tim.com' target='_blank') Creative Tim
            | .

// Core JS Files

script(src='../assets/js/core/popper.min.js')
script(src='../assets/js/core/bootstrap.min.js')
script(src='../assets/js/plugins/perfect-scrollbar.jquery.min.js')

script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js')


script(src='https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js')
script(src='https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js')

// Google Maps Plugin
//script(src='https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE')
// Chart JS
//script(src='../assets/js/plugins/chartjs.min.js')
// Notifications Plugin
script(src='../assets/js/plugins/bootstrap-notify.js')
// Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc
script(src='../assets/js/now-ui-dashboard.min.js?v=1.3.0' type='text/javascript')
// Now Ui Dashboard DEMO methods, don't include it in your project!
//script(src='../assets/demo/demo.js')

 
script.
        $(document).ready( function () {
            $('#datatable').DataTable({
                "order": [[ 0, "asc" ]],
                dom: 'Bfrtip',
                buttons: [
                            'csv', 'excel', 'pdf', 'print'
                         ]
            });
            
        } );
script(src='https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js')
script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js')
script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js')
script(src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js')