if session.notification
    if session.nottype == "error"
        .alert.alert-danger   
            button.close(type='button' aria-hidden='true')
                i.now-ui-icons.ui-1_simple-remove
            span
                b  #{session.notification}
    else if session.nottype == "success"  
        .alert.alert-success  
            button.close(type='button' aria-hidden='true')
                i.now-ui-icons.ui-1_simple-remove
            span
                b  #{session.notification}
    else if session.nottype == "warning"  
        .alert.alert-warning  
            button.close(type='button' aria-hidden='true')
                i.now-ui-icons.ui-1_simple-remove
            span
                b  #{session.notification}