if session.notification!=""
    if session.notificationtype == "error"
        .alert.alert-danger.alert-dismissible   
            button.close(type='button' aria-hidden='true' data-dismiss='alert')
                i.now-ui-icons.ui-1_simple-remove
            span
                b  #{session.notification}
    else if session.notificationtype == "success"  
        .alert.alert-success.alert-dismissible  
            button.close(type='button' aria-hidden='true' data-dismiss='alert' )
                i.now-ui-icons.ui-1_simple-remove
            span
                b  #{session.notification}
    else if session.notificationtype == "warning"  
        .alert.alert-warning.alert-dismissible  
            button.close(type='button' aria-hidden='true' data-dismiss='alert')
                i.now-ui-icons.ui-1_simple-remove
            span
                b  #{session.notification}