extends topmenu/dataprodukintelhome.pug
block content-header 
    .panel-header.panel-header-sm
block content
      .row
        .col-md-12
            .card
                .card-header
                    h4.card-title  Pengiriman Produk Intelijen (IKU3)
                    include notification.pug
                    a.btn.btn-info.btn-round.card-title(href='/pengirimanproduk/add'  role='button')
                        i.now-ui-icons.ui-1_simple-add
                        |  Tambah      
                    // Example single danger button
                    //.btn-group
                        button.btn.btn-info.btn-round.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            |    Pilih Filter Satwil
                        .dropdown-menu
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
                            .dropdown-divider
                            a.dropdown-item(href='#') Separated link

                .card-body
                    .table-responsive
                        table.table
                            thead.text-primary
                                th
                                    | No
                                th
                                    | Nomor
                                th
                                    | Tanggal 
                                th
                                    | Perihal
                                th
                                    | Action
                                 
                            tbody
                                each val, index in data
                                    tr
                                        td= index+1 
                                        td= val["nomor_produk_keluar"]
                                        td= moment(val["tanggal_pengiriman_produk_intelijen"]).format('DD/MM/YYYY') 
                                        td= val["perihal_pengiriman_produk_keluar"] 
                                        td
                                             
                                            a.btn.btn-danger.btn-round(href='/pengirimanprodukdelete/'+ val["id_pengiriman_produk_intelijen"] role='button')
                                                i.now-ui-icons.ui-1_simple-remove
                                                |  Delete