extends layout-sidemenu.pug   
            
append navbar       
    nav.navbar.navbar-expand-lg.navbar-transparent.bg-primary.navbar-absolute
        .container-fluid
          .navbar-wrapper
            .navbar-toggle
              button.navbar-toggler(type='button')
                span.navbar-toggler-bar.bar1
                span.navbar-toggler-bar.bar2
                span.navbar-toggler-bar.bar3
            a.navbar-brand(href='#pablo') Potensi Gangguan dan Kejadian Menonjol
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navigation' aria-controls='navigation-index' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-bar.navbar-kebab
            span.navbar-toggler-bar.navbar-kebab
            span.navbar-toggler-bar.navbar-kebab
          #navigation.collapse.navbar-collapse.justify-content-end
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='/potensigangguan') Potensi Gangguan
              li.nav-item
                a.nav-link(href='/kejadianmenonjol') kejadian Menonjol
              li.nav-item
                a.nav-link(href='/potensigangguandash') Dashboard
               
            form
              .input-group.no-border
                input.form-control(type='text' value='' placeholder='Search...')
                .input-group-append
                  .input-group-text
                    i.now-ui-icons.ui-1_zoom-bold
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='#pablo')
                  i.now-ui-icons.media-2_sound-wave
                  p
                    span.d-lg-none.d-md-block Stats
              li.nav-item.dropdown
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  i.now-ui-icons.location_world
                  p
                    span.d-lg-none.d-md-block Some Actions
                .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                  a.dropdown-item(href='#') Action
                  a.dropdown-item(href='#') Another action
                  a.dropdown-item(href='#') Something else here
              li.nav-item
                a.nav-link(href='#pablo')
                  i.now-ui-icons.users_single-02
                  p
                    span.d-lg-none.d-md-block Account          