extends topmenu/potensigangguanhome.pug
block content-header
    .panel-header.panel-header-sm
block content
    .row
        .col-md-12
            .card
                .card-header
                    include notification.pug
                    h4.card-title  Potensi Gangguan
                    a.btn.btn-info.btn-round.card-title(href='/potensigangguan/add' role='button')
                        i.now-ui-icons.ui-1_simple-add
                        |  Tambah      
                    // Example single danger button
                    //.btn-group
                        button.btn.btn-info.btn-round.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            |    Pilih Filter Satwil
                        .dropdown-menu
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
                            .dropdown-divider
                            a.dropdown-item(href='#') Separated link

                .card-body
                    .table-responsive
                        table#datatables.table
                            thead.text-primary
                                th
                                    | No
                                th
                                    | Satwil / Satker Pengirim
                                th
                                    | Tahun
                                th
                                    | Jumlah
                                th
                                    | Action
                                 
                            tbody
                                each val, index in data
                                    tr
                                        td= index+1 
                                        td= val["nama_satwil"]
                                        td= val["tahun_potensi_gangguan"]
                                        td= val["jumlah_potensi_gangguan"]
                                        td
                                            a.btn.btn-primary.btn-round(href='./potensigangguan/file/'+ val["id_potensi_gangguan"] target="_blank" role='button')
                                                i.now-ui-icons.files_paper
                                                |  Lihat File
                                            |  
                                            a.btn.btn-danger.btn-round(href='./potensigangguan/delete/'+ val["id_potensi_gangguan"] role='button')
                                                i.now-ui-icons.ui-1_simple-remove
                                                |  Delete
    script.
        $(document).ready( function () {
             
            var t = $('#datatables').DataTable({
                "order": [[ 1, "asc" ]],
                "processing": true,
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '},
 
                "serverSide": true,
                "ajax": "/api/potensigangguan/data" , 
                "columnDefs": [ {
                                    "targets": -1,
                                    "data": null,
                                    "render": function ( data, type, row ) {
                                                     return  "<a class='btn btn-sm btn-primary btn-round' href='./potensigangguan/file/ "+ data[0] + "' role='button'>"+
                                                            "<i class='now-ui-icons files_paper'></i> Lihat File</a> "+
                                                            "<a class='btn btn-sm btn-danger btn-round' href='./potensigangguan/delete/"+ data[0] +"' role='button'>"+
                                                            "<i class='now-ui-icons ui-1_simple-remove'></i> Delete</a></td>";
                                                },
                                },
                              ],
                                 
                dom: 'Bfrtip',
                buttons: generateButton()
            });
            t.on( 'draw.dt', function () {
                var PageInfo = $('#datatables').DataTable().page.info();
                createIndex(t,PageInfo);
            });
 

        } );