extends topmenu/masterdata.pug
block content
      .row
        .col-md-12
            .card
                .card-header
                    include notification.pug
                    h4.card-title  Master Data Satwil
                    a.btn.btn-info.btn-round.card-title(href='/satwils/add' role='button')
                        i.now-ui-icons.ui-1_simple-add
                        |  Tambah
                .card-body
                    .table-responsive
                        table.table
                            thead.text-primary
                                th
                                    | No
                                th
                                    | Nama Satwil
                                th
                                    | Action
                                 
                            tbody
                                each val, index in data
                                    tr
                                        td= index+1 
                                        td= val["nama_satwil"]
                                        td
                                            a.btn.btn-primary.btn-round(href='/satwils/'+ val["id_satwil"] role='button')
                                                i.now-ui-icons.design-2_ruler-pencil
                                                |  Edit
                                            |  
                                            a.btn.btn-danger.btn-round(href='/satwils/delete/'+ val["id_satwil"] role='button')
                                                i.now-ui-icons.ui-1_simple-remove
                                                |  Delete