extends masterdata.pug
block content
    .row
      .col-md-8
        .card
          .card-header
            h5.title Direktorat / Subdirektorat
          .card-body
            form(action='/subdits/'+ edit method='POST')
              .row
                .col-md-5.pr-1
                  .form-group
                    label Nama Satuan
                    if edit!=""
                        input.form-control(type='text' name="nama_subdit" placeholder='Masukkan Nama ' value=''+data["nama_subdit"])
                    else
                        input.form-control(type='text' name="nama_subdit" placeholder='Masukkan Nama' value='')
              .row
                .col-md-6.pr-1
                  .form-group
                    input.btn.btn-info.btn-round(type='submit' placeholder='' value='Submit')
                     
                  