extends topmenu/user_menu.pug
block content-header
    .panel-header.panel-header-sm
block content
    .row
      .col-md-8
        .card
          .card-header
            h5.title Ganti Password
            include notification.pug
          .card-body
            form(action='/user/changep' method='POST')
              .row
                .col-md-6.pr-1
                  .form-group
                    label Password Lama
                    input.form-control(type='text' name="password_old" placeholder='Masukkan Password Lama' value='')
              .row
                .col-md-6
                  .form-group
                    label Password Baru
                    input.form-control(type='text' name="password_new" placeholder='Masukkan Password Baru' value='')
              .row
                .col-md-6
                  .form-group
                    label Ulangi Password Baru
                    input.form-control(type='text' name="repassword_new" placeholder='Ulangi Masukkan Password Baru' value='')
              .row
                .col-md-6.pr-1
                  .form-group
                    input.btn.btn-info.btn-round(type='submit' placeholder='' value='Submit')    