extends ../layout-sidemenu.pug   
            
append navbar       
    nav.navbar.navbar-expand-lg.navbar-transparent.bg-primary.navbar-absolute
        .container-fluid
          .navbar-wrapper
            .navbar-toggle
              button.navbar-toggler(type='button')
                span.navbar-toggler-bar.bar1
                span.navbar-toggler-bar.bar2
                span.navbar-toggler-bar.bar3
            a.navbar-brand(href='#pablo') IKU 3 
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navigation' aria-controls='navigation-index' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-bar.navbar-kebab
            span.navbar-toggler-bar.navbar-kebab
            span.navbar-toggler-bar.navbar-kebab
          #navigation.collapse.navbar-collapse.justify-content-end
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='/dataprodukintel') Data Produk Intel
              li.nav-item.dropdown
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  p Data Produk Keluar ke K/L (IKU3)
                    span.d-lg-none.d-md-block Account
                .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                   a.dropdown-item(href='/dataprodukkeluar/4') Surat
                   a.dropdown-item(href='/dataprodukkeluar/1') Saran Pendapat
                   a.dropdown-item(href='/dataprodukkeluar/2') Bahan Pimpinan
                   a.dropdown-item(href='/dataprodukkeluar/3') Bahan Rapat Pimpinan
              li.nav-item.dropdown
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  p Data Produk Keluar ke Satuan Kepolisian (IKU4)
                    span.d-lg-none.d-md-block Account
                .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                   a.dropdown-item(href='/dataprodukkeluar1/6') Surat / Nodin
                   a.dropdown-item(href='/dataprodukkeluar1/7') Bahan Pimpinan
                   a.dropdown-item(href='/dataprodukkeluar1/8') Bahan Rapat Pimpinan 
              li.nav-item
                a.nav-link(href='/pengirimanproduk') Pengiriman Produk

            ul.navbar-nav
              li.nav-item
                a.nav-link(href='/potensigangguandash')
                  i.now-ui-icons.media-2_sound-wave
                  p
                    span.d-lg-none.d-md-block Stats
            include ../usermenu.pug  
                     