extends layout-sidemenu.pug
block content           
      .row
        .col-md-8
          .card
            .card-header
              h5.title Bahan Pimpinan Dikirim ke fungsi kepolisian lain
            .card-body
              form
                .row
                  .col-md-5.pr-1
                    .form-group
                      label Bahan Pimpinan
                      input.form-control(type='text'  placeholder='Nomor Surat' value='')
                .row
                  .col-md-5.pr-1
                    .form-group
                      label Tanggal
                      input.form-control(type='text'  placeholder='Kepada' value='20-11-2019')
                .row
                  .col-md-5.pr-1
                    .form-group
                      label Kepada
                      input.form-control(type='text'  placeholder='Kepada' value='')
                .row
                  .col-md-5.pr-1
                    .form-group
                      label Perihal
                      input.form-control(type='text'  placeholder='Perihal' value='')
                .row
                  .col-md-6.pr-1
                    .form-group
                      label Dasar Surat
                       
                .row
                  .col-md-4.pr-1
                    .form-group
                      label Produk Intelijen
                       select.form-control()
                         option(value='') LAPORAN INFORMASI
                         option(value='')                INFORMASI KHUSUS
                         option(value='')                TELAAH INTELIJEN
                          option(value='')               TELAAH INTELIJEN MINGGUAN
                          option(value='')               TELAAH INTELIJEN BULANAN
                          option(value='')               PERKIRAAN KEADAAN
                          option(value='')               PERKIRAAN CEPAT
                          option(value='')               PERKIRAAN SINGKAT
                           option(value='')              PERKIRAAN KHUSUS
                           option(value='')              PERKIRAAN MINGGUAN
                           option(value='')              PERKIRAAN BULANAN
                           option(value='')              PERKIRAAN KONTIJENSI
                           option(value='')              NOTA INTELIJEN
                           option(value='')              MEMO INTELIJEN
                           option(value='')              INTEL DASAR
                           option(value='')              LAPORAN HARIAN INTELIJEN
                           option(value='')              LAPORAN HARIAN KHUSUS
                           option(value='')              LAPORAN ATENSIA
                           option(value='')              LAPORAN KHUSUS
                           option(value='')              LAPORAN INTELIJEN
                           option(value='')              LAPORAN PENUGASAN
                  .col-md-4.px-1
                    .form-group
                      label Nomor Dokumen
                      input.form-control(type='text' placeholder='Nomor' value='')
                  .col-md-4.pl-1
                    .form-group
                      label Upload
                      input.form-control(type='file' placeholder='' value='')
                .row
                  .col-md-4.pr-1
                    .form-group
                      label Produk Intelijen
                       select.form-control()
                         option(value='') LAPORAN INFORMASI
                         option(value='')                INFORMASI KHUSUS
                         option(value='')                TELAAH INTELIJEN
                          option(value='')               TELAAH INTELIJEN MINGGUAN
                          option(value='')               TELAAH INTELIJEN BULANAN
                          option(value='')               PERKIRAAN KEADAAN
                          option(value='')               PERKIRAAN CEPAT
                          option(value='')               PERKIRAAN SINGKAT
                           option(value='')              PERKIRAAN KHUSUS
                           option(value='')              PERKIRAAN MINGGUAN
                           option(value='')              PERKIRAAN BULANAN
                           option(value='')              PERKIRAAN KONTIJENSI
                           option(value='')              NOTA INTELIJEN
                           option(value='')              MEMO INTELIJEN
                           option(value='')              INTEL DASAR
                           option(value='')              LAPORAN HARIAN INTELIJEN
                           option(value='')              LAPORAN HARIAN KHUSUS
                           option(value='')              LAPORAN ATENSIA
                           option(value='')              LAPORAN KHUSUS
                           option(value='')              LAPORAN INTELIJEN
                           option(value='')              LAPORAN PENUGASAN
                  .col-md-4.px-1
                    .form-group
                      label Nomor Dokumen
                      input.form-control(type='text' placeholder='Nomor' value='')
                  .col-md-4.pl-1
                    .form-group
                      label Upload
                      input.form-control(type='file' placeholder='' value='')
                .row
                  .col-md-4.pr-1
                    .form-group
                      label Produk Intelijen
                       select.form-control()
                         option(value='') LAPORAN INFORMASI
                         option(value='')                INFORMASI KHUSUS
                         option(value='')                TELAAH INTELIJEN
                          option(value='')               TELAAH INTELIJEN MINGGUAN
                          option(value='')               TELAAH INTELIJEN BULANAN
                          option(value='')               PERKIRAAN KEADAAN
                          option(value='')               PERKIRAAN CEPAT
                          option(value='')               PERKIRAAN SINGKAT
                           option(value='')              PERKIRAAN KHUSUS
                           option(value='')              PERKIRAAN MINGGUAN
                           option(value='')              PERKIRAAN BULANAN
                           option(value='')              PERKIRAAN KONTIJENSI
                           option(value='')              NOTA INTELIJEN
                           option(value='')              MEMO INTELIJEN
                           option(value='')              INTEL DASAR
                           option(value='')              LAPORAN HARIAN INTELIJEN
                           option(value='')              LAPORAN HARIAN KHUSUS
                           option(value='')              LAPORAN ATENSIA
                           option(value='')              LAPORAN KHUSUS
                           option(value='')              LAPORAN INTELIJEN
                           option(value='')              LAPORAN PENUGASAN
                  .col-md-4.px-1
                    .form-group
                      label Nomor Dokumen
                      input.form-control(type='text' placeholder='Nomor' value='')
                  .col-md-4.pl-1
                    .form-group
                      label Upload
                      input.form-control(type='file' placeholder='' value='')
                .row
                  .col-md-4.pr-1
                    .form-group
                      label Produk Intelijen
                       select.form-control()
                         option(value='') LAPORAN INFORMASI
                         option(value='')                INFORMASI KHUSUS
                         option(value='')                TELAAH INTELIJEN
                          option(value='')               TELAAH INTELIJEN MINGGUAN
                          option(value='')               TELAAH INTELIJEN BULANAN
                          option(value='')               PERKIRAAN KEADAAN
                          option(value='')               PERKIRAAN CEPAT
                          option(value='')               PERKIRAAN SINGKAT
                           option(value='')              PERKIRAAN KHUSUS
                           option(value='')              PERKIRAAN MINGGUAN
                           option(value='')              PERKIRAAN BULANAN
                           option(value='')              PERKIRAAN KONTIJENSI
                           option(value='')              NOTA INTELIJEN
                           option(value='')              MEMO INTELIJEN
                           option(value='')              INTEL DASAR
                           option(value='')              LAPORAN HARIAN INTELIJEN
                           option(value='')              LAPORAN HARIAN KHUSUS
                           option(value='')              LAPORAN ATENSIA
                           option(value='')              LAPORAN KHUSUS
                           option(value='')              LAPORAN INTELIJEN
                           option(value='')              LAPORAN PENUGASAN
                  .col-md-4.px-1
                    .form-group
                      label Nomor Dokumen
                      input.form-control(type='text' placeholder='Nomor' value='')
                  .col-md-4.pl-1
                    .form-group
                      label Upload
                      input.form-control(type='file' placeholder='' value='') 
                .row
                  .col-md-12
                    .form-group
                      input.form-control(type='submit' placeholder='' value='Kirim Data')